
.section1 {
    color: #000;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 9px;
    padding-left: 49px;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 86px;
    display: flex;
  }
  
  .main-container {
    flex-direction: column;
    margin-left: 13px;
    display: flex;
    margin-top: 180px;
  }
  
  .quick-transfer {
    color: #599ccf;
    margin-left: 14px;
    font-size: 4.563rem;
  }
  .how-works {
    color: #599ccf;
    font-size: 4.563rem;
  }
  
  .text {
    line-height: 28px;
    justify-content: left;
    padding-top: 30px;
  }
  
  .home-image{
    width: 398px;
    height: 402px;
    margin-top: 200px;
    margin-left: 12px;
    margin:120px;
  }
  

  .section2 {
    color: #2c4c6b;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 6px;
    padding-right: 68px;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28px;
    padding: 5%;
  }
  
  .main-container2 {
    color: #000;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    display: flex;
    margin-left: 7%;
  }
  
  .register {
    color: #2c4c6b;
    margin-bottom: 70px;
  }
  
  .register-2-removebg-p {
    width: 301px;
    height: 167px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  
 
  
  .make-your-payment {
    font-weight: 700;
  }
  
  .sendout-removebg-pre {
    width: 275px;
    height: 183px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-top: 3px;
  }
  
  .how-works{
    margin-top: 7%;
    margin-bottom: 7%;
    justify-items: center;
    text-align: center;
    margin-right: 5%;
  }
  .how-it-works{
    display: flex;
    margin-top: 3%;
  }
  .work-1{
    margin-left: 10%;
  }
  .work-2{
    margin-left: 10%;
  }
  .work-3{
    margin-left: 10%;

  }


  