.section1 {
    color: #000;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 9px;
    padding-left: 49px;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 86px;
    display: flex;
  }
  
  .main-container {
    flex-direction: column;
    margin-left: 13px;
    display: flex;
    margin-top: 180px;
  }
  
  .quick-transfer {
    color: #599ccf;
    margin-left: 14px;
    font-size: 4.563rem;
  }
  
  .text {
    line-height: 28px;
    justify-content: left;
    padding-top: 30px;
  }
  
  .home-image{
    width: 398px;
    height: 402px;
    margin-top: 200px;
    margin-left: 12px;
    margin:120px;
  }
  

  .section2 {
    background-color: #1b3159;
    flex-direction: row;
    align-items: center;
    padding-bottom: 6px;
    padding-right: 68px;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28px;
    padding: 5%;
  }
  .how-works{
    margin-top: 7%;
    margin-bottom: 10%;
    justify-items: center;
    text-align: center;
    margin-right: 5%;
    color: #599ccf;
    font-size: 4.563rem;
  }
  .how-it-works{
    display: flex;
    margin-top: 3%;
  }
  .work-1, .work-2, .work-3{
    margin-bottom: 60px;
    margin-left: 10%;
  }

  .color-block {
    background-color: #fff;
    padding: 20px;
  }

  .section3 {
    display: flex;
    background-color: #fff;
    margin-top: 30px;
  }

 .container-form{
    background-color: #1b3159;
    border-radius: 5px;
    width: 650px;
    padding: 120px;
}
form {
  padding-left: 130px;
  margin-top: 100px;
}

form input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}
.contactus{
  color: #599ccf;
  background-color: #fff;
  padding: 50px;
  padding-left: 100px;
}
.contactus h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 4rem;
}
.textarea {
  height: 150px;
}
.submit {
  border: none;
  color: #f2f4f8;
  text-align: center;
  font-size: 16px;
  background-color: rgb(53, 141, 53);
  cursor: pointer;
  border-radius: 50px;
}

/* .contactimg{
  margin-left: 200px;
} */

  