.form{
    background-color: #e8ebf1;
    border-radius: 5px;
    width: 50%;
    padding-top: 170px;
    /* padding: 20px; */
    margin-left: 500px;
    /* height: 600px; */
}

.form-body{
    /* text-align: left; */
    padding: 75px;
    /* padding: 5px; */
    

}
.form-body label{
    padding-right: 40px;
}

.form-body input{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}

.footer{
    text-align: center;
}

button {
    border: 2px solid #1b3159;
    /* color: #f2f4f8; */
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    margin: 0px 16px 10px 50px;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 400px;
  }
.form h2 {
    text-align: center;
    color: #599ccf;
}